{% extends "base.html" %}
{% load i18n %}
{% block header %}
<div class="page-header">
  <header class="hero-unit">
    <h1>
      Use what you know<br>
      <small>Unity and Visual Studio finally together, at last.</small>
    </h1>
  </header>
</div>
{% endblock %}
{% block content %}
<div class="row">
  {% blocktrans %}
    <p>This is THE bridge between Visual Studio and Unity.</p>
    <ul>
      <li>This thing is awesome</li>
      <li>It will change your life</li>
    </ul>
    <p>Buy it now!</p>
  {% endblocktrans %}
</div>
{% endblock %}
