# Just in case someone isn't using virtualenvwrapper.
venv

# Python bytecode.
*.pyc

# Development database.
db.sqlite

# Ignore the top-level static_collected/ directory, it contains collected and
# processed static files.
/static_collected/

# Local configuration variables (used by foreman and heroku-pg-transfer).
.env
