[submodule "vsub_site/libs/bootstrap/static"]
	path = vsub_site/libs/bootstrap/static
	url = git://github.com/twitter/bootstrap.git
[submodule "fabfile"]
	path = fabfile
	url = git@github.com:Precision-Mojo/django-heroku-fabfile.git
